{% load static %} {% if announcements %} {% for announcement in announcements %}
<div
  class="flex md:flex-row w-[90%] my-1 ml-3 border-[#10644D] border gap-x-2 rounded-xl py-2 px-2 hover:bg-slate-100 transition-all ease-in-out duration-200 hover:cursor-pointer"
>
  <a
    href="{% url 'announcement_detail' announcement.id %}"
    class="flex flex-col md:flex-row gap-x-3 items-center"
  >
    <div class="w-32">
      {% if announcement.announcer_logo %}
      <img
        src="{{announcement.announcer_logo.url}}"
        class="rounded-md"
        alt=""
      />
      {% elif announcement.thumbnail %}
      <img src="{{announcement.thumbnail.url}}" class="rounded-md" alt="" />
      {% else %}
      <img src="{% static 'images/logo.jpg' %}" class="rounded-md" alt="" />
      {% endif %}
    </div>
    <div class="flex flex-col flex-1">
      <h2 class="text-[#10644D] font-bold mb-3">{{announcement.title}}</h2>
      <p class="hidden md:block text-sm">{{announcement.slug}}</p>
      <div class="flex flex-col md:flex-row gap-x-1 my-2">
        <p class="font-bold">{{announcement.company_name}} |</p>
        <div class="flex flex-row items-center gap-x-1">
          <p class="text-xs">Posted on</p>
          <p class="text-xs font-bold">{{announcement.created_at}} |</p>
        </div>
        <div class="flex flex-row items-center gap-x-1">
          <p class="text-xs">Deadline</p>
          <p class="text-xs font-bold">{{announcement.deadline}}</p>
        </div>
      </div>
      <div class="flex flex-col">
        <div class="flex flex-row gap-x-1 items-center">
          <p class="">Experience:</p>
          {% if announcement.experience %}
          <p class="text-sm font-bold">{{announcement.experience}}</p>
          {% else %}
          <p class="text-sm font-bold">Not Specified</p>
          {% endif %}
        </div>
        <p
          style="max-width: max-content;"
          class="bg-[#10644D] inline-block w-auto rounded-lg px-2 py-2 text-white font-bold self-center md:self-start"
        >
          {{announcement.category}}
        </p>
      </div>
    </div>
  </a>
</div>
{% endfor %} {% else %}
<p>No announcements Available for this category</p>
{% endif %}
