{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gorilla Job Net - Exam</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'images/favicon.ico' %}"
    />
    <link rel="stylesheet" href="{% static 'Css/Style.css' %}" />
    <script>
      
      

      
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'Css/Style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>

  <body class="flex flex-col max-h-screen overflow-y-scroll" id="answers">
    <div class="spinnerContainer min-h-screen fixed w-full flex flex-col" style="background-color: rgba(0,0,0,0.8);z-index: 99999;">
    <div class="rounded-full w-14 h-14 border-2 border-dashed border-[#10644D] animate-spin"></div>
    </div>
     <div class=" h-[100%] relative">
      <div class="flex flex-row justify-between items-center px-5 py-2 md:my-2">
      <div>
        <img class="rounded-full logo " src="{% static 'images/logo.jpg' %}" alt="">
      </div>
      <button id="menu" class="md:hidden">
        <i class="fa-solid fa-bars fa-lg" style="font-size: xx-large;" ></i>
      </button>
      
        <ul class="hidden md:flex flex-col md:flex-row items-center gap-x-2">
          <li><a class="nav-link hover:text-[#10644D] hover:scale-x-150 transition ease-in-out" href="{% url 'homepage' %}">Home</a></li>
           <li><a class="nav-link hover:text-[#10644D] hover:scale-x-150 transition ease-in-out" href="#">About</a></li>
            <li><a class="nav-link hover:text-[#10644D] hover:scale-x-150 transition ease-in-out" href="#">Service</a></li>
            {% if user.is_authenticated %}
            <div>
              <ul class="flex flex-col item-center md:flex-row">
                <li class="">
                  <button id="login" class=" bg-transparent item-center justify-center px-2 py-2 bg-[#00cba9] rounded-md">
                    <a class=" text-red-400" href="{% url 'logout' %}">Logout</a>
                  </button>
                </li>
                <li class="">
                  <button class="btn btn-primary px-2 py-2 bg-[#10644D] rounded-md">{{user.username}}</button>
                </li>
              </ul>
            </div>
            {% else %}
            <div>
              <ul class="flex flex-col item-center md:flex-row">
                <li class="nav-item">
                  <button id="login" class=" bg-transparent  justify-center px-2 py-2 bg-[#10644D] rounded-md">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                  </button>
                </li>
                <li class="nav-item">
                  <button id="login" class=" justify-center px-2 py-2 bg-[#10644D] rounded-md">
                    <a class="nav-link text-white" href="{% url 'signup' %}">Get Started</a>
                  </button>
                </li>
              </ul>
            </div> 
            {% endif %}
            
        </ul>
       <ul id="menu_container" class="hidden bg-[#10644D] min-h-screen  absolute top-0 right-0 w-[50%] px-5 z-50 transition duration-8000 ease-in-out py-8 md:hidden flex-col md:flex-row items-center gap-x-2">
          <li class="my-1"><a class=" text-white font-bold " href="{% url 'homepage' %}">Home</a></li>
           <li class="my-1"><a class=" text-white font-bold " href="#">About</a></li>
            <li class="my-1"><a class=" text-white font-bold " href="#">Service</a></li>
            {% if user.is_authenticated %}
            <div>
              <ul class="flex flex-col item-center md:flex-row">
                <li class="">
                  <button id="login" class=" bg-transparent item-center justify-center px-2 py-2 bg-[#00cba9] rounded-md">
                    <a class=" text-red-400" href="{% url 'logout' %}">Logout</a>
                  </button>
                </li>
                <li class="">
                  <button class="btn btn-primary px-2 py-2 bg-white rounded-md text-white">{{user.username}}</button>
                </li>
              </ul>
            </div>
            {% else %}
            <div class="my-5">
              <ul class="flex flex-col item-center md:flex-row">
                <li class="nav-item">
                  <button id="login" class="w-24 py-2 rounded-md bg-white ">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                  </button>
                </li>
                <li class="nav-item my-2">
                  <button class="w-24 py-2 rounded-md bg-white ">Get Started</button>
                </li>
              </ul>
            </div> 
            {% endif %}
            
        </ul>
    </div>
    <div class="flex flex-row w-full max-h-[70%] overflow-y-scroll gap-x-10 ">
      <div class="flex flex-row gap-x-2 flex-start w-[30%] py-3 px-3">
        <h2 class="font-bold text-xl">
          {{quiz_name}}
        </h2>
        <p>Answers</p>
      </div>
      
        {% include "partial_answer.html" %}
      
    </div>
    <script>
     $(document).ready(function(){
    $("#menu").click(function(){
        $("#menu_container").toggleClass("hidden");
    });

    const quiz_id = localStorage.getItem("exam_id");
    const otp = localStorage.getItem("otp");
    let ajaxCompleted = false; // Declare the variable only once

    console.log(quiz_id);

    if (!ajaxCompleted) {
        $.ajax({
            url: "/exam/get_all_answer",
            type: "GET",
            data: {
                "quiz_id": quiz_id,
                "otp": otp
            },
            success: function(data) {
                console.log(data.html_content);
                $("#answer").html(data.html_content);
                $('.spinnerContainer').addClass('hidden');
                ajaxCompleted = true; // Set the variable after the AJAX request completes
            },
            error: function(error) {
                console.log(error);
            }
        });
    }
});


    </script>
    <script src="{% static 'Js/script.js' %}"></script>
  </body>
</html>
