{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gorilla Job Net - Exam</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'images/favicon.ico' %}"
    />
    <!-- <link rel="stylesheet" href="{% static 'Css/Style.css' %}" /> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link
      rel="stylesheet"
      href="{% if debug %}{% static 'Css/tailwind.css' %} {% else %} {% static 'Css/style.min.css' %}{% endif %}"
    />
  </head>
  <body
    class="flex flex-col items-center justify-center bg-gray-100 max-h-screen"
  >
    <form
      id="quiz_container"
      class="flex flex-col items-center justify-center bg-white p-6 rounded-md shadow-md w-full min-h-screen max-h-[50%] overflow-y-scroll"
    >
      {% csrf_token %} {% include 'quiz_question_partial.html' %}
    </form>
    <div class="hidden spinnerContainer w-full min-h-screen">
      <div class="spinner"></div>
    </div>
    <div
      class="hidden self-center items-center justify-center md:flex flex-col w-full bg-gray-200 min-h-screen"
      id="results"
    ></div>
    <script src="{% static 'Js/script.js' %}"></script>
  </body>
</html>
