{% extends 'staff_base.html' %} {% block Heading %} Faculity <br />
{% endblock Heading %}
<br />
{% block content %}
<div class="flex flex-col w-[100%]">
  <button
    id="add_faculity_button"
    class="self-end py-2 px-3 bg-[#10644D] text-white rounded-md"
  >
    Add Faculity
  </button>
  <div>
    <h4 class="text-md font-bold">All Availble Faculities</h4>
    <div class="flex flex-row flex-wrap gap-2">
      {% for faculity in faculities %}

      <button
        type="button"
        data-faculity-id="{{ faculity.id }}"
        class="faculityDelete flex flex-col bg-white hover:bg-red-800 hover:transition-all hover:text-white ease-in-out duration-8000 px-2 py-2 rounded-md w-[18%] faculity-edit"
      >
        <h4 class="text-md">{{faculity.name}}</h4>
        <!-- <p class="text-sm">{{exam.description}}</p> -->
      </button>
      <div class="flex flex-col"></div>

      {% endfor %}
    </div>
  </div>
</div>

<!--   Add Exam Modal    -->
<div id="modal-container" class="hidden faculity_modal flex flex-col">
  <div
    id="modal"
    class="flex flex-col items-center w-[95%] relative bg-white shadow-md shadow-black py-12 rounded-md"
  >
    <button
      type="button"
      id="close_modal_faculity"
      class="self-end bg-red-500 px-2 py-1 mx-6 rounded-md"
    >
      <i
        class="fa-solid fa-xmark"
        style="color: white; font-size: x-large;"
      ></i>
    </button>
    <h2 class="text-lg font-bold my-1">Add a New Faculity</h2>
    <form id="faculity_form" class="self-center px-3">
      {% csrf_token %}
      <input
        name="name"
        type="text"
        placeholder="Exam Name"
        required
        class="w-[100%] border-2 my-1 bg-slate-200 rounded-md px-2 py-2"
      />

      <br />
      <div class="flex flex-row gap-x-3">
        <button
          class="py-2 px-4 bg-[#10644D] rounded-md text-white font-bold"
          type="submit"
        >
          Add Faculity
        </button>
        <div
          id="loader3"
          class="animate-spin border-2 border-blue-400 h-4 w-4 rounded-full border-dashed hidden"
        ></div>
      </div>
    </form>
    <div
      id="message_modal3"
      class="hidden py-2 px-2 rounded-md absolute top-2 right-2"
    ></div>
  </div>
</div>
{% endblock content %}
