{% load static %}
<div class="footer">
  <div class="col">
    <img
      src="{% static 'images/logo.jpg' %}"
      class="logo rounded-circle"
      alt=""
    />
  </div>
  <div class="footer-item col">
    <h1>Quick Links</h1>
    <ul class="list-group d-flex row gap-sm-2">
      <li class="nav-link List-group-item col">
        <a href="" class="nav-link">Home</a>
      </li>
      <li class="nav-link col">
        <a href="" class="nav-link">Home</a>
      </li>
      <li class="nav-link col">
        <a href="" class="nav-link">Home</a>
      </li>

      <li class="nav-link col">
        <a href="" class="nav-link">Home</a>
      </li>
    </ul>
  </div>

  <div class="footer-item col">
    <h1>Reach Out</h1>
    <ul class="list gap-2">
      <li
        class="d-flex flex-row flex-sm-col align-items-center gap-md-3 gap-sm-1"
      >
        <p><i class="fa-solid fa-envelope"></i></p>
        <p class="">gorillajobnet@gmail.com</p>
      </li>
      <li class="d-flex flex-row align-items-center gap-md-3">
        <p><i class="fa-solid fa-phone"></i></p>
        <p class="ml-2">+250782214360</p>
      </li>
      <li class="d-flex flex-row align-items-center gap-sm-1 gap-md-3">
        <p><i class="fa-solid fa-location-dot"></i></p>
        <p class="ml-2">Kigali,Rwanda</p>
      </li>
    </ul>
  </div>
  <div class="footer-item col-5">
    <h1>Subscribe to Our NewsLetter</h1>
    <p>
      Subscribing to our web platform ensures you to receive all the latest news
      and updates directly from the choir, keeping you closely connected and
      informed about their activities
    </p>
    <form
      action=""
      method="post"
      class="form d-flex flex-md-row flex-sm-col gap-3 px-3"
    >
      <input
        type="text"
        name="email"
        class="col form-control"
        placeholder="Enter your email"
      />
      <button
        type="submit"
        class="btn btn-primary col-3 bg-transparent hover:bg-primary"
      >
        Subscribe
      </button>
    </form>
  </div>
</div>
