{% load static %}

<div class="hidden md:flex flex-row justify-between px-10 footer">
  <div>
    <img
      src="{% static 'images/logo.jpg' %}"
      alt=""
      class="w-20 h-20 rounded-full"
    />
  </div>
  <div class="flex flex-col">
    <h1>Quick Links</h1>
    <ul class="flex flex-row gap-x-2 md:flex-col">
      <li class="nav-link List-group-item col">
        <a href="" class="nav-link">Home</a>
      </li>
      <li class="nav-link col">
        <a href="" class="nav-link">announcement</a>
      </li>
      <li class="nav-link col">
        <a href="" class="nav-link">Esoko</a>
      </li>

      <li class="nav-link col">
        <a href="" class="nav-link">Home</a>
      </li>
    </ul>
  </div>
  <div>
    <h1 class="text-xl font-bold">Reach Out</h1>
    <div>
      <ul class="list-none flex flex-col gap-1">
        <li class="flex flex-row items-center gap-x-1">
          <p><i class="fa-solid fa-envelope"></i></p>
          <p>gorillajobnet@gmail.com</p>
        </li>
        <li class="flex flex-row items-center gap-x-1">
          <p><i class="fa-solid fa-phone"></i></p>
          <p>+250788544228</p>
        </li>
        <li class="flex flex-row items-center gap-x-1">
          <p><i class="fa-solid fa-location-dot"></i></p>
          <p>Kigali,Rwanda</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="max-w-[40%]">
    <h1>Subscribe to Our NewsLetter</h1>
    <p>
      Subscribing to our web platform ensures you to receive all the latest news
      and updates directly from the Company, keeping you closely connected and
      informed about their activities
    </p>
    <form action="" method="" class="w-[100%] my-2 flex flex-row gap-x-2">
      <input
        type="text"
        name="email"
        class="w-[80%] py-2 rounded-md px-4 bg-white"
        placeholder="Enter your email"
      />
      <button
        type="submit"
        class="text-white bg-blue-400 py-2 px-3 rounded-md font-bold"
      >
        Subscribe
      </button>
    </form>
  </div>
</div>
<div class="footer flex flex-col bg-[#10644D] text-white items-center">
  <p class="text-white text-center">copyright @GorillaJobNet-2024</p>
</div>
